{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Cuisine Craft</title>
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
</head>
<body class="home-body">
    <div class="home-container">
        <h1 class="welcome-text">Welcome to Cuisine Craft.</h1>
        <h2 class="subtitle">Let's Get Cooking.</h2>
        <div class="button-container">
            <a href="{% url 'recipe_list' %}" class="start-cooking-button">
                Start cooking <span class="arrow">→</span>
            </a>
            {% if user.is_authenticated %}
            <a href="{% url 'dietary_preferences' %}" class="preferences-button">
                Set dietary preferences <span class="arrow">→</span>
            </a>
            {% endif %}
        </div>
    </div>
</body>
</html>